{% extends 'mainapp/base.html' %}

{% block content %}
<div class="col-md-9" style="margin-left:100px;">

    <div class="row" style="width: 600px;">
        <h2 style="text-align:center;">Регистрация аккаунта</h2>

        <form method="post">
            {% csrf_token %}
            <br>
            {% for f in form %}
            <div class="col-md-12">
                <div class="form-group position-relative">
                    <div style="margin-left:-70px; font-size:24px;"><label class="form-label" for="f.id_for_label">
                        {{ f.label }}:</label>{{ f }}
                    </div>
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            </div>
            <br>
            {% endfor %}

            <div class="col-md-11">
                <br>
                <button class="btn btn-primary w-100" style="margin-left:-70px;" type="submit">Зарегистрироваться
                </button>
            </div>


        </form>
    </div>
</div>
{% endblock %}