{% extends 'mainapp/base.html' %}

{% block content %}
<div class="col-md-9" style="margin-left:90px;">
    <div class="content">
        {% if request.user == profile.user %}
        <div style="width: 812px; border: 2px solid; border-radius: 12px; margin-bottom: 40px; padding-top: 10px">
            <form method="POST" enctype="multipart/form-data" style="left:0px;">
                {% csrf_token %}
                <fieldset class="form-group" style="width:600px; text-align:center;">
                    <legend class="border-bottom mb-4" style="margin-left:100px">Редактировать профиль
                        {{ profile.user|upper }}
                    </legend>
                    {% for p in profile_form %}
                    <div style="margin-left:180px; font-size:24px;"><label class="form-label" for="f.id_for_label">
                        {{ p.label }}:</label>{{ p }}
                    </div>
                    <div class="form-error">{{ p.errors }}</div>
                    {% endfor %}
                </fieldset>
                <div class="form-group" style="margin:20px 300px; width: 200px;">
                    <button class="btn btn-primary w-100" type="submit">Обновить</button>
                </div>
            </form>
            {% else %}
            <div class="col-md-9" style="margin-left:100px;">
            <p class="short_discript" style="font-size:24px; width:780px; text-align:center;">Вы вошли как
                {{request.user|upper}}, доступ к этой странице имеет только {{profile.user|upper}}
                <a class="registr_bottom" href="{% url 'user_prof' profile.user %}">Вернуться обратно</a>
                </p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}