* {
    background: #ced4da;
}

a {
  text-decoration: none !important;
}

header {
    align-items: center;
    padding: 20px 1%;
}


.top {
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    margin: 0 auto;
}

ul.nav__social {
    position: absolute;
    right: 80px;
    top: 7px;
}

ul.nav__social li {
    list-style: none;
    display: inline-block;
    text-decoration: none;

}

ul.nav__social li a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}


.nav__social li a {
    transition: all 0.3s ease 0s;
}

.nav__social li a:hover {
    color: #0088a9;
}

.horizont {
    margin-top: 15px;
    box-shadow: 0 0 10px 1px #000000;
}


.loc {
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    text-align: center;

}

.logo {
    width: 250px;
    height: 130px;
    margin-top: -13px;
}



.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    margin: 65px 50px 0 0;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.last {
     float: right;
}




.search {
    width: 530px;
    padding: 27px 0;
}

form {
    position: relative;
    left: 58px;
    margin: 0 auto;
}

.search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    background: #ced4da;
    color: black;
}

.search button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 20px;
    color: #ced4da;
}



.dropbtn {
  background-color: #0088a9;
  color: #ced4da;
  padding: 5px;
  font-size: 26px;
  width: 260px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 32px 0 0 28px;
  padding: 0;
  width: 240px;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  font-size: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a.active{
    background-color: #007cad;
    color: #ced4da;
}

.dropdown-content a:hover:not(.active) {
    font-size: 19px;
    transition: all 0.3s ease 0s;
    background-color: #007cad;
    color: #ced4da;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content-wrapper {
    padding: 0 0 0 0;
}



.text {
    font-size: 30px;
}




footer {
    height: 140px;
    align-items: center;
    padding: 20px 1%;
}

.footer-menu{
    text-align: center;
    list-style: none!important;
}


.footer-menu li a{
    text-align: center;
    color: black;
}


.pull-foot li a {
    transition: all 0.3s ease 0s;
}

.pull-foot li a:hover {
    color: #0088a9;
}




.list_post {
    word-wrap: break-word;
    margin: 0 40px 50px 0;
    padding-top: 15px;
    border: 2px solid;
    border-radius: 5px;
}

.list_post:hover {
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 5px 1px #504e4f;
}


.show_pic {
    width: 270px;
    height: 150px;
    border-radius: 10px;
}

h4.post_title {
    text-align: center;
}

p.short_discript {
    text-align: center;
}


h5.post_cost {
    text-align: center;
}

a.post_url {
    color: black;
}

a.post_url:hover {
    color: #0088a9;
    transition: all 0.3s ease 0s;
}




.pagination_section {
    position: relative;
    text-align: center;
    padding-bottom: 20px;

}

.pagination_section a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 20px;
}

.pagination_section a.active {
    background-color: #0088a9;
    color: #ced4da;;
    border-radius: 10px;
}

.pagination_section a:hover:not(.active) {
    background-color: #0088a9;
    color: #ced4da;;
    border-radius: 10px;
}

.registr_bottom{
    transition: all 0.3s ease 0s;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.registr_bottom :hover {
    color: #0088a9;
}




#blink1 {
  -webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;
}
@-webkit-keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}
@keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}


::-webkit-scrollbar {
    width: 7px;
    overflow:auto;
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(70deg, #ced4da, #0088a9);

    border-radius: 10px;

    overflow:auto;
}


@mixin button-outline-variant(
  $color: #0088a9;,
  $color-hover: color-contrast($color),
  $active-background: $red,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-border-color: #{$color};
  --#{$prefix}btn-hover-color: #{$color-hover};
  --#{$prefix}btn-hover-bg: #{$active-background};
  --#{$prefix}btn-hover-border-color: #{$active-border};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$color};
  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}btn-disabled-border-color: #{$color};
  --#{$prefix}gradient: none;
}